<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>

    <!-- Stylesheets -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap scripts -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Fontawesome icons -->

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
</head>

<body class="d-flex justify-content-center align-items-center flex-column">

    <div class="box text-center p-3" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>


    <div class="box p-3" id="item-box">
        <% for (let i=0; i<newItems.length; i++) { %>

            <div class="item px-3 py-1 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center flex-row ">
                    <input type="checkbox" class="m-2">
                    <p class="p-1 pl-3 mb-0">
                        <%= newItems[i] %>
                    </p>
                </div>
                <div>
                    <a href="/deleteItem/<%=i %>">
                        <div class="delete d-flex align-items-center justify-content-center"><i class="fas fa-minus"></i></div>
                    </a>
                </div>
            </div>
            <% } %>


                <form class="mt-3 d-flex justify-content-center" action="/" method="post">
                    <input type="text" class="text-center" name="newItem" id="" placeholder="Add item" autocomplete="off">
                    <button type="submit" class="pb-3"><div class="plus d-flex align-items-center justify-content-center"><i class="fas fa-plus"></i></div></button>
                </form>

    </div>

</body>

</html>